div{
	margin:0;
	border:0;
	padding:0;
}

/*body{
  margin: 0;  removing the default body margin 
}*/

h1{
	width: 863px;
}

#left{
	position: relative; 
	left: 75px; 
	width: 500px; 
	height: 50px;
	float:left; 
	display:inline
	margin: 10px;
}


#right{
	position: relative; 
	left: 200px; 
	width: 250px;
	height: 50px; 
	float:left; 
	display:inline
	margin: 10px;
}

#top{
	margin: 50px;
	margin-top: 50px;
}

#bottom{
	margin: 50px;
	margin-top: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover {
    background-color: #111;
}

/*.active {
    background-color: #4CAF50;
}*/